{% extends "::base.html.twig" %}

{% block title %}FrontBundle:NourritureController:ajouterNourriture{% endblock %}

{% block body %}
<h1>Welcome to the NourritureController:ajouterNourriture page</h1>
{% endblock %}
