{% extends "::base.html.twig" %}

{% block title %}FrontBundle:NourritureController:listerNourriture{% endblock %}

{% block body %}
<h1>Welcome to the NourritureController:listerNourriture page</h1>
{% endblock %}
